<div class="resume">
  <header class="header">
    <div class="header-title">
      <h1>Середенко Михаил, 28 лет</h1>
      <span>JavaScript-разработчик</span>
    </div>
    <p class="header-description">
      Разработчик, стремящийся к постоянному развитию, а также к созданию быстрых и многофункциональных приложений, с опытом веб-разработки более 4-х лет.
    </p>
    <ul class="header-contacts">
      <li>
        <b>Email:</b>
        <a href="mailto:inventoris7@gmail.com">inventoris7@gmail.com</a>
      </li>
      <li>
        <b>GitHub:</b>
        <a href="https://github.com/Esper-lvl4/">@Esper_lvl4</a>
      </li>
      <li>
        <b>Пример приложения:</b>
        <a routerLink="/game/lobby" routerLinkActive="active">Онлайн шахматы</a>
      </li>
    </ul>
  </header>
  <main class="info">
    <article class="info-skills">
      <h2 class="info-title">Основные навыки</h2>
      <div class="skill-list">
        <ul class="skill">
          <li class="skill-title">Верстка</li>
          <li>HTML5, CSS3, Stylus, Sass (Scss).</li>
          <li>Семантическая верстка.</li>
          <li>Адаптивная, кроссбраузерная верстка.</li>
        </ul>
        <ul class="skill">
          <li class="skill-title">Front End</li>
          <li>JavaScript (ES6 - ES11), JQuery, Webcomponents.</li>
          <li>Vue.js, Vuex, VueRouter, Angular.</li>
          <li>TypeScript, Vite, Webpack, Babel, axios.</li>
        </ul>
        <ul class="skill">
          <li class="skill-title">Back End</li>
          <li>Node.js, express, Nuxt.js</li>
          <li>Socket.io, ws, jsonwebtoken.</li>
          <li>Nodemon, MongoDB, mongoose</li>
        </ul>
        <ul class="skill">
          <li class="skill-title">Другое</li>
          <li>ООП</li>
          <li>Функциональное программирование</li>
          <li>Git flow</li>
          <li>Есть опыт разработки SPA- и SSR-приложений.</li>
        </ul>
      </div>
    </article>
    <h2 class="info-title">Прошлые места работы</h2>
    <div class="info-prev-jobs">
      <section class="prev-job">
        <h1 class="prev-job-position">Front End разработчик в компании Акцепт-У</h1>
        <ul class="prev-job-duties">
          <li>Адаптивная и кроссбраузерная верстка сайтов.</li>
          <li>Создание мобильной версии сайта без дизайна.</li>
          <li>Поддержка сайтов, устранение проблем с внешним видом.</li>
          <li>Организация процессов работы отдела разработки.</li>
        </ul>
      </section>
      <section class="prev-job">
        <h1 class="prev-job-position">Front End разработчик в компании ИНДИНС</h1>
        <ul class="prev-job-duties">
          <li>Разработка кастомизированных ERP для бизнесов.</li>
          <li>Поиск ошибок в технических заданиях и решение возникших спорных моментов.</li>
          <li>Создание и поддержка Vue-компонентов любой сложности для внутренней библиотеки компонентов.</li>
          <li>Поддержка проектов с легаси кодом.</li>
          <li>Обучение новеньких фронтендеров.</li>
        </ul>
      </section>
      <section class="prev-job">
        <h1 class="prev-job-position">Front End разработчик в компании FIX</h1>
        <ul class="prev-job-duties">
          <li>Разработка модуля биржи для обмена криптовалюты.</li>
          <li>Переводил требования бизнеса во внятный список задач.</li>
          <li>Создание компонентов и доработка существующих.</li>
          <li>Поддержка проектов с легаси кодом.</li>
        </ul>
      </section>
    </div>
  </main>
  <footer class="other-info">
    <h2 class="info-title">Обучение</h2>
    <p>Учился с помощью следующих ресурсов: GeekBrains, learn.javascript.ru, medium.com, developer.mozilla.org и многие другие.</p>
    <h2 class="info-title">Языки</h2>
    <p>Русский (родной). Английский (чтение документации, просмотр обучающих и иных видео-материалов, обмен текстовыми сообщениями).</p>
  </footer>
</div>