<div class="resume">
  <header class="header">
    <div class="header-title">
      <h1>Середенко Михаил, 27 лет</h1>
      <span>JavaScript-разработчик</span>
    </div>
    <p class="header-description">
      Разработчик, стремящийся к постоянному развитию, а также к созданию быстрых и многофункциональных приложений, с опытом веб-разработки более 3-х лет.
    </p>
    <ul class="header-contacts">
      <li>
        <b>Телефон:</b>
        <!-- <a href="tel:+79216462320">+7&nbsp;(921)&nbsp;646-23-20</a> -->
      </li>
      <li>
        <b>Email:</b>
        <a href="mailto:inventoris7@gmail.com">inventoris7@gmail.com</a>
      </li>
      <li>
        <b>GitHub:</b>
        <a href="https://github.com/Esper-lvl4/">@Esper_lvl4</a>
      </li>
      <li>
        <b>Пример верстки:</b>
        <a
          href="https://esper-lvl4.github.io/portfolio/compiled/index.html"
          target="_blank"
        >Restochef</a>
      </li>
      <li>
        <b>Пример верстки:</b>
        <a
          href="https://esper-lvl4.github.io/portfolio/compiled/lamplandia.html"
          target="_blank"
        >Lamplandia</a>
      </li>
      <li>
        <b>Пример приложения:</b>
        <a routerLink="/game/lobby" routerLinkActive="active">Онлайн шахматы</a>
      </li>
    </ul>
  </header>
  <main class="info">
    <article class="info-skills">
      <h2 class="info-title">Основные навыки</h2>
      <div class="skill-list">
        <ul class="skill">
          <li class="skill-title">Верстка</li>
          <li>HTML5, CSS3, Stylus, Sass.</li>
          <li>Семантическая верстка.</li>
          <li>Адаптивная, кроссбраузерная верстка.</li>
        </ul>
        <ul class="skill">
          <li class="skill-title">Front End</li>
          <li>JavaScript (ES6 - ES8), JQuery, Webcomponents.</li>
          <li>Vue.js, Vuex, VueRouter.</li>
          <li>Webpack, Babel, axios, stampit.</li>
        </ul>
        <ul class="skill">
          <li class="skill-title">Back End</li>
          <li>Node.js, ws, express, Nuxt.js</li>
          <li>Socket.io, jsonwebtoken.</li>
          <li>Nodemon, MongoDB, mongoose</li>
        </ul>
        <ul class="skill">
          <li class="skill-title">Другое</li>
          <li>ООП</li>
          <li>Функциональное программирование</li>
          <li>Git flow</li>
        </ul>
      </div>
    </article>
    <h2 class="info-title">Прошлые места работы</h2>
    <div class="info-prev-jobs">
      <section class="prev-job">
        <h1 class="prev-job-position">Front End разработчик в компании Акцепт-У</h1>
        <ul class="prev-job-duties">
          <li>Адаптивная и кроссбраузерная верстка сайтов. Часто проект поступал в работу без ТЗ, из-за чего приходилось очень многие вещи доделывать и переделывать.</li>
          <li>Создание мобильной версии сайта из головы - в дизайнах большую часть времени отсутствовала мобильная версия сайта.</li>
          <li>Устранение неисправностей на поддерживаемых компанией сайтах, а также выполнение различных заданий на них же (например, установка счетчиков или целей Яндекс-метрики).</li>
          <li>Организация процессов работы отдела разработки (до появления начальника отдела разработки). Вникал в принципы работы смежных отделов, чтобы раздавать грамотные указания.</li>
        </ul>
      </section>
    </div>
  </main>
  <footer class="other-info">
    <h2 class="info-title">Обучение</h2>
    <p>Учился с помощью следующих ресурсов: GeekBrains, learn.javascript.ru, medium.com, developer.mozilla.org и многие другие.</p>
    <h2 class="info-title">Языки</h2>
    <p>Русский (родной). Английский (чтение документации, просмотр обучающих и иных видео-материалов, обмен текстовыми сообщениями).</p>
  </footer>
</div>